Repository quang-pham-dev/react-native-training: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, imagemin-lint-staged

.lintstagedrc:

{
  "{src}/**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.{png,jpeg,jpg,gif,svg}": [
    "imagemin-lint-staged",
    "git add"
  ],
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ]
}

add readme file
  README.md
Due: none

update readme file
  Elaza/README.md
Due: none

add storybook
  Elaza/App.tsx
  Elaza/package.json
  Elaza/storybook/index.tsx
  Elaza/storybook/rn-addons.ts
  Elaza/storybook/storybook-registry.ts
  Elaza/storybook/toggle-storybook.tsx
  Elaza/storybook/views/index.ts
  Elaza/storybook/views/story-screen.tsx
  Elaza/storybook/views/story.tsx
  Elaza/storybook/views/use-case.tsx
  Elaza/yarn.lock
Due: prettier --write, eslint --fix

add react native exception handler
  Elaza/App.tsx
  Elaza/ios/Podfile.lock
Due: prettier --write, eslint --fix

fix react native config story book maximum call stack
  Elaza/metro.config.js
  Elaza/package.json
  Elaza/yarn.lock
Due: prettier --write, eslint --fix

initialize code skeleton
  Elaza/android/app/src/main/ic_launcher-playstore.png
  Elaza/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  Elaza/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  Elaza/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  Elaza/android/app/src/main/res/mipmap-hdpi/launch_screen.png
  Elaza/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  Elaza/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  Elaza/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  Elaza/android/app/src/main/res/mipmap-mdpi/launch_screen.png
  Elaza/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  Elaza/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  Elaza/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  Elaza/android/app/src/main/res/mipmap-xhdpi/launch_screen.png
  Elaza/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  Elaza/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  Elaza/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  Elaza/android/app/src/main/res/mipmap-xxhdpi/launch_screen.png
  Elaza/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  Elaza/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  Elaza/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  Elaza/android/app/src/main/res/mipmap-xxxhdpi/launch_screen.png
  Elaza/ios/Elaza/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  Elaza/ios/Elaza/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  Elaza/ios/Elaza/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  Elaza/ios/Elaza/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  Elaza/ios/Elaza/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  Elaza/ios/Elaza/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  Elaza/ios/Elaza/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  Elaza/ios/Elaza/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  Elaza/ios/Elaza/Images.xcassets/AppIcon.appiconset/ItunesArtwork@2x.png
  Elaza/ios/Elaza/Images.xcassets/LaunchScreen.imageset/launch_screen.png
  Elaza/ios/Elaza/Images.xcassets/LaunchScreen.imageset/launch_screen@2x.png
  Elaza/ios/Elaza/Images.xcassets/LaunchScreen.imageset/launch_screen@3x.png
Due: imagemin-lint-staged

update current project version
  .gitignore
  Elaza/ios/Elaza/Info.plist
Due: none

Update alias path
  Elaza/babel.config.js
  Elaza/tsconfig.json
Due: prettier --write, eslint --fix

Add spacing config
  Elaza/src/types/index.ts
  Elaza/src/types/spacing.ts
Due: prettier --write, eslint --fix

Add themes
  Elaza/src/constants/themes.ts
  Elaza/src/themes/Colors.ts
  Elaza/src/themes/Fonts.ts
  Elaza/src/themes/Metrics.ts
  Elaza/src/themes/index.ts
Due: prettier --write, eslint --fix

Add constants
  Elaza/src/constants/index.ts
  Elaza/src/constants/platform.ts
  Elaza/src/constants/type.ts
Due: prettier --write, eslint --fix

Add services
  Elaza/src/services/format.ts
  Elaza/src/services/helpers.ts
  Elaza/src/services/index.ts
Due: prettier --write, eslint --fix

Implement Heading component
  Elaza/src/components/Heading/Heading.story.tsx
  Elaza/src/components/Heading/Heading.styles.ts
  Elaza/src/components/Heading/__tests__/Heading.test.tsx
  Elaza/storybook/storybook-registry.ts
Due: prettier --write, eslint --fix

Implement Paragraph component
  Elaza/src/components/Paragraph/P.styles.tsx
  Elaza/src/components/Paragraph/Paragraph.story.tsx
  Elaza/src/components/Paragraph/__tests__/Paragraph.test.tsx
  Elaza/storybook/storybook-registry.ts
Due: prettier --write, eslint --fix

Implement View styled component
  Elaza/src/components/View/View.story.tsx
  Elaza/src/components/View/View.styles.ts
  Elaza/src/components/View/__tests__/View.test.tsx
  Elaza/storybook/storybook-registry.ts
Due: prettier --write, eslint --fix

Update storybook register
  Elaza/storybook/storybook-registry.ts
Due: prettier --write, eslint --fix

Add paragraph metrics
  Elaza/src/themes/Fonts.ts
  Elaza/src/themes/Metrics.ts
Due: prettier --write, eslint --fix

Add custom fonts
  Elaza/android/app/src/main/assets/fonts/Inter-Bold.ttf
  Elaza/android/app/src/main/assets/fonts/Inter-Medium.ttf
  Elaza/android/app/src/main/assets/fonts/Inter-Regular.ttf
  Elaza/android/app/src/main/assets/fonts/Inter-SemiBold.ttf
  Elaza/android/link-assets-manifest.json
  Elaza/ios/Elaza.xcodeproj/project.pbxproj
  Elaza/ios/Elaza/Info.plist
  Elaza/ios/link-assets-manifest.json
  Elaza/src/assets/fonts/Inter-Bold.ttf
  Elaza/src/assets/fonts/Inter-Medium.ttf
  Elaza/src/assets/fonts/Inter-Regular.ttf
  Elaza/src/assets/fonts/Inter-SemiBold.ttf
  Elaza/src/themes/Fonts.ts
Due: prettier --write, eslint --fix

Implement Flex styled component
  Elaza/src/components/Flex/Flex.story.tsx
  Elaza/src/components/Flex/Flex.styles.ts
  Elaza/src/components/Flex/__tests__/Flex.test.tsx
  Elaza/storybook/storybook-registry.ts
Due: prettier --write, eslint --fix

Update linting
  Elaza/.eslintrc.js
Due: prettier --write, eslint --fix

Update author
  Elaza/package.json
Due: none

Add husky config
  Elaza/.husky/_/husky.sh
Due: none

Add context
  Elaza/.eslintrc.js
  Elaza/.husky/pre-commit
  Elaza/babel.config.js
  Elaza/src/contexts/index.ts
  Elaza/tsconfig.json
Due: prettier --write, eslint --fix

Config navigator theme
  Elaza/src/navigators/AppNavigator.tsx
  Elaza/src/themes/Navigation.ts
  Elaza/src/themes/index.ts
Due: prettier --write, eslint --fix

Add images theme
  Elaza/src/themes/Images.ts
  Elaza/src/themes/index.ts
Due: prettier --write, eslint --fix

Test husky
  Elaza/.gitignore
Due: none

Test husky
  Elaza/package.json
Due: none

Config husky
  Elaza/.gitignore
  Elaza/.husky/pre-commit
Due: none

Config husky
  Elaza/.husky/pre-commit
  Elaza/package.json
Due: none

Config husky
  Elaza/package.json
Due: none

Update snapshot
  Elaza/src/components/Flex/__tests__/__snapshots__/Flex.test.tsx.snap
  Elaza/src/components/Heading/__tests__/__snapshots__/Heading.test.tsx.snap
  Elaza/src/components/Paragraph/__tests__/__snapshots__/Paragraph.test.tsx.snap
  Elaza/src/components/View/__tests__/__snapshots__/View.test.tsx.snap
Due: none

Add testing-library/react-native
  package.json
  yarn.lock
Due: none

Implement loading indicator component
  ios/Elaza.xcodeproj/project.pbxproj
  src/components/LoadingIndicator/LoadingIndicator.stories.tsx
  src/components/LoadingIndicator/__test__/LoadingIndicator.test.tsx
  src/components/LoadingIndicator/__test__/__snapshots__/LoadingIndicator.test.tsx.snap
  src/components/LoadingIndicator/index.tsx
  src/themes/Colors.ts
Due: prettier --write, eslint --fix
